* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 20px;
  width: 55%;
  margin: auto;
}

header h1 {
  margin-bottom: 15px;
}

header h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline orange;
}

header hr {
  margin-bottom: 20px;
}

header .text {
  margin-bottom: 30px;
}

.profile {
  text-align: center;
}

.profile img {
  border-radius: 50%;
}

.img-m-top {
  margin-top: 10px;
}

.margin-bottom-1 {
  margin-bottom: 10px;
}

.footer {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.me-1 {
  margin-right: 5px;
}

.me-2 {
  margin-right: 10px;
}

.line-bottom {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 20px;
}

.banner {
  background-image: url('img/wallhaven-z8dg9y_2560x1440.png');
  background-position: center;
  background-size: cover;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.banner h1 {
  background-color: rgba(255, 255, 255, 0.592);
  padding: 20px;
  color: black;
}

a {
  color: black;
  line-height: 50px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(206, 206, 206);
  font-size: 15px;
}

a:hover {
  color: rgba(0, 0, 0, 0.61);
}

.dark-mode {
  background-color: rgb(21, 41, 69);
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}

a,
button {
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  background-color: rgb(206, 206, 206);
}

button:hover {
  color: rgba(0, 0, 0, 0.61);
}

a,
button {
  box-shadow: 0px 1px 2px black;
}

.social-media a {
  padding: 7px 10px;
  background: rgb(206, 206, 206);
  color: black;
}

.social-media a:hover {
  color: rgba(0, 0, 0, 0.61);
}

/* About */
.about {
  margin: auto;
  width: 55%;
  padding: 20px;
}

.about h1 {
  text-decoration: underline orange;
}

/* Contact */
.contact {
  margin: auto;
  width: 55%;
  padding: 20px;
}

.contact h1 {
  text-decoration: underline orange;
}

/* Smarthphone */
@media screen and (max-width: 576px) {
  header {
    width: 80%;
  }

  header img {
    width: 30%;
  }

  header h1 {
    font-size: 20px;
  }

  header h2 {
    font-size: 15px;
  }

  header .text {
    font-size: 13px;
  }

  header a {
    font-size: 12px;
  }

  header h3 {
    font-size: 15px;
  }

  header button {
    font-size: 12px;
  }

  /* About */
  .about {
    width: 80%;
  }

  .about button {
    font-size: 15px;
  }

  .about a {
    font-size: 12px;
  }

  /* Contact */
  .contact {
    width: 80%;
  }

  .contact button {
    font-size: 15px;
  }

  .contact a {
    font-size: 12px;
  }
}
